In [1]:
import numpy as np
import pandas as pd

In [3]:
dtype_dict = {"Start": int, "End": int, "Chromosome": str}
kotani_snps = pd.read_csv("Supp table 3_SNP list_2019_Kotani.txt", skiprows=1, sep=" ", dtype=dtype_dict)

In [5]:
kotani_snps

,Strain,Mouse,Chromosome,Start,End,Reference,Alteration,Gene,Mutation,type,Accession,number,Nucleotide,Amino,acid,Variant,allele,frequency
0,A1,A1-1-1,chr1,110925165,110925165,G,A,Cdh19,Missense,NM_001081386,c.C1039T,p.H347Y,0.302,NaN,NaN,NaN,NaN,NaN
1,A1,A1-1-1,chr1,88215102,88215102,G,A,Ugt1a1,Missense,NM_201645,c.G929A,p.G310E,0.099,NaN,NaN,NaN,NaN,NaN
2,A1,A1-1-1,chr1,63309706,63309706,G,A,Zdbf2,Missense,NM_001267872,c.G7243A,p.A2415T,0.095,NaN,NaN,NaN,NaN,NaN
3,A1,A1-1-1,chr2,93696152,93696152,G,A,Ext2,Missense,NM_010163,c.C2138T,p.P713L,0.517,NaN,NaN,NaN,NaN,NaN
4,A1,A1-1-1,chr2,155421512,155421512,G,A,Ncoa6,Missense,NM_019825,c.C1001T,p.P334L,0.593,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,E1,E1-2-1,chrX,96160175,96160175,C,T,Msn,Missense,NM_010833,c.C883T,p.R295C,0.49,NaN,NaN,NaN,NaN,NaN
1079,E1,E1-2-1,chrX,162784385,162784385,T,G,Txlng,Missense,NM_178935,c.A1089C,p.E363D,0.414,NaN,NaN,NaN,NaN,NaN
1080,E1,E1-2-2,chr15,35073217,35073217,G,A,Stk3,Missense,NM_019635,c.C356T,p.T119I,0.475,NaN,NaN,NaN,NaN,NaN
1081,E1,E1-2-2,chrX,96160175,96160175,C,T,Msn,Missense,NM_010833,c.C883T,p.R295C,0.61,NaN,NaN,NaN,NaN,NaN
1082,E1,E1-2-2,chrX,162784385,162784385,T,G,Txlng,Missense,NM_178935,c.A1089C,p.E363D,0.515,NaN,NaN,NaN,NaN,NaN

In [25]:
kotani_snps["GL_ID"] = kotani_snps["Mouse"].apply(lambda x: f"{x}_tail")
kotani_snps["CL_ID"] = kotani_snps["Mouse"].apply(lambda x: f"{x}_BM")
kotani_snps["Func.RefGene"] = 0

In [22]:
kotani_snps = kotani_snps.rename({"Chromosome": "chr", "Start": "start", "End": "end", "Reference": "ref", "Alteration": "alt", "Gene": "gene"}, axis=1)

In [23]:
kotani_snps

,Strain,Mouse,chr,start,end,ref,alt,gene,Mutation,type,Accession,number,Nucleotide,Amino,acid,Variant,allele,frequency,GL_ID,CL_ID
0,A1,A1-1-1,chr1,110925165,110925165,G,A,Cdh19,Missense,NM_001081386,c.C1039T,p.H347Y,0.302,NaN,NaN,NaN,NaN,NaN,A1-1-1_tail,A1-1-1_BM
1,A1,A1-1-1,chr1,88215102,88215102,G,A,Ugt1a1,Missense,NM_201645,c.G929A,p.G310E,0.099,NaN,NaN,NaN,NaN,NaN,A1-1-1_tail,A1-1-1_BM
2,A1,A1-1-1,chr1,63309706,63309706,G,A,Zdbf2,Missense,NM_001267872,c.G7243A,p.A2415T,0.095,NaN,NaN,NaN,NaN,NaN,A1-1-1_tail,A1-1-1_BM
3,A1,A1-1-1,chr2,93696152,93696152,G,A,Ext2,Missense,NM_010163,c.C2138T,p.P713L,0.517,NaN,NaN,NaN,NaN,NaN,A1-1-1_tail,A1-1-1_BM
4,A1,A1-1-1,chr2,155421512,155421512,G,A,Ncoa6,Missense,NM_019825,c.C1001T,p.P334L,0.593,NaN,NaN,NaN,NaN,NaN,A1-1-1_tail,A1-1-1_BM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078,E1,E1-2-1,chrX,96160175,96160175,C,T,Msn,Missense,NM_010833,c.C883T,p.R295C,0.49,NaN,NaN,NaN,NaN,NaN,E1-2-1_tail,E1-2-1_BM
1079,E1,E1-2-1,chrX,162784385,162784385,T,G,Txlng,Missense,NM_178935,c.A1089C,p.E363D,0.414,NaN,NaN,NaN,NaN,NaN,E1-2-1_tail,E1-2-1_BM
1080,E1,E1-2-2,chr15,35073217,35073217,G,A,Stk3,Missense,NM_019635,c.C356T,p.T119I,0.475,NaN,NaN,NaN,NaN,NaN,E1-2-2_tail,E1-2-2_BM
1081,E1,E1-2-2,chrX,96160175,96160175,C,T,Msn,Missense,NM_010833,c.C883T,p.R295C,0.61,NaN,NaN,NaN,NaN,NaN,E1-2-2_tail,E1-2-2_BM
1082,E1,E1-2-2,chrX,162784385,162784385,T,G,Txlng,Missense,NM_178935,c.A1089C,p.E363D,0.515,NaN,NaN,NaN,NaN,NaN,E1-2-2_tail,E1-2-2_BM

In [8]:
franz_checked_loci = pd.read_csv("./2021-10-13_testset1_nonsyn_fps_checked_Franz.csv", sep=";")

In [9]:
franz_checked_loci

,Mouse,GL_ID,CL_ID,chr,start,end,ref,alt,gene,predicted_mut_prob,Unnamed: 10,comment
0,E1-1-1,E1-1-1_tail,E1-1-1_BM,chr1,9545951,9545952,G,T,Rrs1,0.906241,NaN,artifact_A
1,A1-4-5,A1-4-5_tail,A1-4-5_BM,chr1,9546016,9546017,G,A,Rrs1,0.999860,NaN,artifact_A
2,B1-4-5,B1-4-5_tail,B1-4-5_BM,chr1,34278049,34278050,A,T,Dst,0.998620,NaN,TP
3,A2-2-1,A2-2-1_tail,A2-2-1_BM,chr1,59847167,59847168,G,A,Bmpr2,0.999611,NaN,TP
4,A2-2-2,A2-2-2_tail,A2-2-2_BM,chr1,59847167,59847168,G,A,Bmpr2,0.999385,NaN,TP
...,...,...,...,...,...,...,...,...,...,...,...,...
476,B1-3-2,B1-3-2_tail,B1-3-2_BM,chrX,164458666,164458667,A,G,Asb11,0.998169,NaN,TP
477,B1-3-5,B1-3-5_tail,B1-3-5_BM,chrX,164458666,164458667,A,G,Asb11,0.999056,NaN,TP
478,B1-4-1,B1-4-1_tail,B1-4-1_BM,chrX,164458666,164458667,A,G,Asb11,0.999551,NaN,TP
479,B1-4-13,B1-4-13_tail,B1-4-13_BM,chrX,164458666,164458667,A,G,Asb11,0.999746,NaN,TP
480,B1-4-5,B1-4-5_tail,B1-4-5_BM,chrX,164458666,164458667,A,G,Asb11,0.999724,NaN,TP

In [10]:
franz_snps = franz_checked_loci[franz_checked_loci["comment"] == "TP"]

In [15]:
franz_snps["Func.RefGene"] = 0

<ipython-input-15-1168723b8507>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  franz_snps["Func.RefGene"] = 0

In [16]:
franz_snps

,Mouse,GL_ID,CL_ID,chr,start,end,ref,alt,gene,predicted_mut_prob,Unnamed: 10,comment,Func.RefGene
2,B1-4-5,B1-4-5_tail,B1-4-5_BM,chr1,34278049,34278050,A,T,Dst,0.998620,NaN,TP,0
3,A2-2-1,A2-2-1_tail,A2-2-1_BM,chr1,59847167,59847168,G,A,Bmpr2,0.999611,NaN,TP,0
4,A2-2-2,A2-2-2_tail,A2-2-2_BM,chr1,59847167,59847168,G,A,Bmpr2,0.999385,NaN,TP,0
5,C1-2-1,C1-2-1_tail,C1-2-1_BM,chr1,59847167,59847168,G,A,Bmpr2,0.991082,NaN,TP,0
6,C1-2-2,C1-2-2_tail,C1-2-2_BM,chr1,59847167,59847168,G,A,Bmpr2,0.988024,NaN,TP,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,B1-3-2,B1-3-2_tail,B1-3-2_BM,chrX,164458666,164458667,A,G,Asb11,0.998169,NaN,TP,0
477,B1-3-5,B1-3-5_tail,B1-3-5_BM,chrX,164458666,164458667,A,G,Asb11,0.999056,NaN,TP,0
478,B1-4-1,B1-4-1_tail,B1-4-1_BM,chrX,164458666,164458667,A,G,Asb11,0.999551,NaN,TP,0
479,B1-4-13,B1-4-13_tail,B1-4-13_BM,chrX,164458666,164458667,A,G,Asb11,0.999746,NaN,TP,0
480,B1-4-5,B1-4-5_tail,B1-4-5_BM,chrX,164458666,164458667,A,G,Asb11,0.999724,NaN,TP,0

In [26]:
unified_cols = ["Mouse", "GL_ID", "CL_ID", "chr", "start", "end", "ref", "alt", "gene", "Func.RefGene"]
unified_table = pd.DataFrame(columns=unified_cols)

for i in range(len(kotani_snps)):
    unified_table = unified_table.append(kotani_snps.iloc[i][unified_cols])
for j in range(len(franz_snps)):
    unified_table = unified_table.append(franz_snps.iloc[j][unified_cols])

In [28]:
unified_table.to_csv("kotani_snplist.csv", sep=";", header=True)